*{
    padding:0;
    margin: 0; 
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#home h1{
    display: block; 
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color:black;
}

#home h1:nth-child(1) {
    animation-delay: 1.5s;
}
#home h1:nth-child(2) {
    animation-delay: 2.5s;
}
#home h1:nth-child(3) {
    animation-delay: 3.5s;
}


#home h1 span{
    position: absolute; 
    top:0;
    left:0;
    height: 100%;
    width: 0;
    background-color: beige;
    animation: text_reveal_box 2s ease;
    animation-delay:.3s;
}
#home h1:nth-child(1) span{
    animation-delay: 1s;
}
#home h1:nth-child(2) span{
    animation-delay: 2s;
}
#home h1:nth-child(3) span{
    animation-delay: 3s;
}

#home .btn{
    display: inline-block;
    padding: 10px 30px;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 36px;
    transition: .5s ease; 
    transition-property: background-color, color;
}

#home.btn:hover{
    color: green; 
    background-color: black;
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left:0;
    }
    100%{
        width: 0;
        left: 100%
    }
}

/* 
projects styling start  */
#projects .projects{
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .allprojects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
/* projects styling ends  */
